#modalcreatebook{
    background: #0000003a;
    position: fixed;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.contForm{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    min-width: 300px;
    width: 50%;
}
.mb-3{
    width: 90%;
}
.contBtn{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.linkadm{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 600;
    background-color: #afafff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
}
.linkadm:hover{
    background-color: rgb(152, 152, 255);
}